
* {
	outline: none !important;
	box-shadow: none !important;
	box-sizing: border-box !important;
}

#root {
	max-width: 100vw; 
	/* border: 1px solid red; */
}

#root .App {
	width: 100%;
	/* background-color: lightcoral; */
	/* border: 1px solid black; */
}